.cad-venda-container {
    width: 100%;
    max-width: 1180px;
    padding: 0 30px;
    margin: 32px auto;
}

.cad-venda-container header{
    display: flex;
    align-items: center;

}
.cad-venda-container header span{
    font-size: 20px;
    margin-left: 24px;
    color:#c87137;
}

.cad-venda-container header img{
    height: 64px;
}

.cad-venda-container header a{
    width: 160px;
    margin-left: auto;
    margin-top: 0;
}

.cad-venda-container header button{
    height: 60px;
    width: 60px;
    border-radius: 4px;
    border: 1px solid #c87137;
    background: transparent;
    margin-left: 16px;
    transition: border-color 0.2s;
}

.cad-venda-container header button:hover{
    border-color: #874000;
}

.cad-venda-container h1{
    margin-top: 10px;
    margin-bottom: 24px;
    color:#c87137;
}

.cad-venda-container .body{
    margin-top: 50px;
    width:100%;
    max-width: 1120px;
    min-height: 85vh;
    display: flex;
    flex-direction: column;
    align-items: center;  
    
}
.cad-venda-container .body .form{
    width: 100%;
    max-width: 450px;
    text-align: center;
    
}


.cad-venda-container .body .form form input
.cad-venda-container .body .form form textarea{
    margin-top: 8px;
}

.cad-venda-container .body .form form input::placeholder{
    color: #c87137;
}
.cad-venda-container .body .form form select {
   
    text-decoration: #c87137;
    font-size: 20px;
    text-align: center;
    width: 100%;
    border:1px solid;
    border-radius: 1vh;
    border-color: #c87137;
    color: #c87137;
    min-height: 54px;
    background-color: #FFF;
    text-indent: 3%;
    

    
}
.cad-venda-container .body .form form select option:disabled{
    color: #333;
    
}


.cad-venda-container .body .form a{
    text-decoration: none;
    font-size: 20px;
    color:#c87137;

}
.cad-venda-container .body .form a:hover{
    color:#874000;
}


